<div class="menu-sidebar">
  <div class="menu-sidebar-start">
    <div class="menu-sidebar-start-in">
      <div class="menu-sidebar-start-in-header">
        Your works
        <div class="icon">
          <nb-icon
            nbPrefix
            icon="plus-outline"
            pack="eva"
            class="center"
          ></nb-icon>
        </div>
      </div>
      <div class="menu-sidebar-start-in-body">
        <app-pending-work
          *ngFor="let work of pendingWorks"
          [pendingWork]="work"
        ></app-pending-work>
      </div>
    </div>
  </div>
  <div class="menu-sidebar-end">
    <nb-accordion multi="true">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>Today's works</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-todo-work
            *ngFor="let work of todayWorks"
            [todoWork]="work"
          ></app-todo-work>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>Saved works</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-todo-work
            *ngFor="let work of savedWorks"
            [todoWork]="work"
          ></app-todo-work>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
