.menu-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  &-start {
    height: 40%;
    position: relative;
    overflow: hidden;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--accordion-padding);
      font-size: var(--accordion-header-text-font-size);
      font-weight: var(--accordion-header-text-font-weight);
      line-height: var(--accordion-header-text-line-height);
      color: white;
      height: 64px;
    }

    .icon {
      width: 24px;
      height: 24px;
      position: relative;

      &:hover {
        background-color: var(--color-app2);
        border-radius: 5px;
        color: var(--color-app4);
        cursor: pointer;
      }
    }

    &-body {
      position: absolute;
      top: 64px;
      bottom: 0;
      overflow-y: scroll;
      width: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-end {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 60%;

    nb-accordion {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:has(:last-child.collapsed) {
        justify-content: space-between;
      }

      &:not(:has(.expanded)) {
        justify-content: end !important;
      }

      &-item {
        border-top: 1px solid var(--color-app4);
        position: relative;
        overflow: hidden;

        &.collapsed {
          nb-accordion-item-body {
            transition: height 0.2s ease-out;
            height: 0;
          }
        }

        &.expanded {
          nb-accordion-item-body {
            height: 15rem;
            transition: height 0.2s ease-out;
          }
        }
      }
    }
  }
}

app-todo-work,
app-pending-work {
  padding: var(--accordion-padding);
  display: block;
}
