.login {
  &-logo {
    img {
      width: 50px;
      height: 50px;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &-body {
    &-title {
      h2 {
        font-size: 32px;
        font-weight: 700;
      }

      p {
        font-size: 14px;
      }
    }

    &-form {
      form {
      }

      .form-group {
        label {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .form-control {
      }

      .btn {
        height: 60px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 15px;
      }

      .error-message {
        color: var(--color-danger-default);
      }

      .remember-forgot {
        .remember {
          label {
            font-size: 16px;
            font-weight: 500;
          }
        }

        .forgot {
          a {
            font-size: 16px;
            font-weight: 500;
            color: var(--color-app2);
          }
        }
      }
    }
  }
}
