<div class="menu-sidebar">
  <div class="menu-sidebar-start">
    <div class="menu-sidebar-start-in">
      <div class="menu-sidebar-start-in-header">
        Your works
        <div class="icon" (click)="toggleAdd()">
          <nb-icon
            nbPrefix
            icon="plus-outline"
            pack="eva"
            class="center"
          ></nb-icon>
        </div>
      </div>
      <form
        [formGroup]="workForm"
        (ngSubmit)="addWork()"
        class="menu-sidebar-start-in-add"
        *ngIf="added"
      >
        <textarea
          nbInput
          fullWidth
          status="basic"
          fieldSize="tiny"
          class="input"
          cols="3"
          id="title"
          formControlName="title"
          (mousedown)="$event.stopPropagation()"
          [class.invalid]="title?.invalid && (title?.dirty || title?.touched)"
          autofocus
          cdkFocusInitial
        ></textarea>
        <div class="actions">
          <button nbButton size="tiny" class="cancelBtn" (click)="toggleAdd()">
            Cancel
          </button>
          <button
            nbButton
            size="tiny"
            status="primary"
            class="addBtn"
            type="submit"
          >
            Add work
          </button>
        </div>
      </form>
      <div
        class="menu-sidebar-start-in-body"
        id="pending"
        cdkDropList
        [cdkDropListData]="pendingWorks"
        [cdkDropListConnectedTo]="dayIds"
        (cdkDropListDropped)="drop($event)"
      >
        <app-pending-work
          *ngFor="let work of pendingWorks"
          [pendingWork]="work"
          cdkDrag
        ></app-pending-work>
        <p *ngIf="pendingWorks.length === 0" class="empty">
          No available works.
        </p>
      </div>
    </div>
  </div>
  <div class="menu-sidebar-end">
    <nb-accordion multi="true">
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>Today's works</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-todo-work
            *ngFor="let work of todayWorks"
            [todoWork]="work"
          ></app-todo-work>
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>Saved works</nb-accordion-item-header>
        <nb-accordion-item-body>
          <app-todo-work
            *ngFor="let work of savedWorks"
            [todoWork]="work"
          ></app-todo-work>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
