@mixin isEmptyLabel($empty) {
  @if $empty {
    content: "Labels";
    color: rgba($color: white, $alpha: 0.7);
  } @else {
    content: "";
    color: rgba($color: white, $alpha: 0.7);
  }
}

.menu-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  &-start {
    height: 40%;
    flex: 1;

    &-in {
      height: 100%;
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--accordion-padding);
        font-size: var(--accordion-header-text-font-size);
        font-weight: var(--accordion-header-text-font-weight);
        line-height: var(--accordion-header-text-line-height);
        color: white;
        height: 64px;
        border-top: 1px solid var(--color-app4);
      }

      &-add {
        padding: 0 var(--accordion-padding);

        .input {
          background: transparent;

          &.desc {
            margin: 0.5rem 0;
            font-weight: 400;
          }

          &.label-container {
            cursor: default;
            border: 1px solid var(--color-app2);
            border-radius: 0.1rem;
            padding: 0.5rem 1rem;
            &::after {
              @include isEmptyLabel(true);
            }

            &.non-empty {
              &::after {
                @include isEmptyLabel(false);
              }
            }
          }
        }

        .actions {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-start {
            position: relative;

            .label-input {
              border-radius: 0.5rem;
              border: none;
              &::placeholder {
                color: var(--color-dark);
              }

              &::-ms-input-placeholder {
                color: var(--color-dark);
              }
            }

            &-label {
              position: absolute;
              z-index: 999;

              .card-height {
                height: 21.1875rem;
              }

              .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0;

                &-title {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  margin-right: 0.5rem;
                }

                &-content {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 9rem;
                }
              }

              .empty-label {
                margin: 1rem;
                color: var(--color-dark);
              }

              .label-footer {
                padding: 0.5rem 1rem;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-weight: 500;

                &:hover {
                  cursor: pointer;
                  background-color: var(--color-app2);
                }
              }
            }
          }

          &-end {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;
            padding: 0.5rem 0;

            .cancelBtn {
              border: none;
              text-transform: unset;
              padding: 0rem 0.5rem;
              background-color: var(--color-app2);

              &:hover {
                scale: 0.95;
              }
            }

            .addBtn {
              border: none;
              text-transform: unset;
              color: white;
              padding: 0.4rem 0.7rem;

              &:hover {
                scale: 0.95;
              }
            }
          }
        }
      }

      &-body {
        overflow-y: scroll;
        flex: 1;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 60%;
    flex: 0;

    nb-accordion {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:has(:last-child.collapsed) {
        justify-content: space-between;
      }

      &:not(:has(.expanded)) {
        justify-content: flex-end !important;

        nb-accordion-item-header {
          padding: 0 var(--accordion-padding) !important;
        }
      }

      &-item {
        overflow: hidden;

        &-header {
          height: 64px;
          border-top: 1px solid var(--color-app4);
        }

        &.collapsed {
          flex-grow: 0;

          nb-accordion-item-body {
            transition: all 0.2s ease-out;
            flex: 0;
            opacity: 0;
            backface-visibility: hidden;
          }
        }

        &.expanded {
          flex-grow: 1;

          nb-accordion-item-header {
            padding: 0 var(--accordion-padding) !important;
          }

          nb-accordion-item-body {
            transition: all 0.2s ease-in;

            overflow-y: scroll;
            flex: 1;
            opacity: 1;
            backface-visibility: hidden;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
}

.empty {
  font-size: 12px;
  color: white;
  padding: 0 var(--accordion-padding);
}

.icon {
  width: 24px;
  height: 24px;
  position: relative;
  color: white;

  &:hover {
    background-color: var(--color-app2);
    border-radius: 5px;
    color: var(--color-app4);
    cursor: pointer;
  }
}
