.menu-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  &-start {
    height: 40%;
    flex: 1;

    &-in {
      height: 100%;
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--accordion-padding);
        font-size: var(--accordion-header-text-font-size);
        font-weight: var(--accordion-header-text-font-weight);
        line-height: var(--accordion-header-text-line-height);
        color: white;
        height: 64px;
        border-top: 1px solid var(--color-app4);
      }

      .icon {
        width: 24px;
        height: 24px;
        position: relative;

        &:hover {
          background-color: var(--color-app2);
          border-radius: 5px;
          color: var(--color-app4);
          cursor: pointer;
        }
      }

      &-add {
        padding: 0 var(--accordion-padding);

        .input {
          background: transparent;
          border-radius: 5px;
        }

        .actions {
          display: flex;
          justify-content: flex-end;
          gap: 0.5rem;
          padding: 0.3rem 0 0.5rem 0;

          .cancelBtn {
            border: none;
            text-transform: unset;
            padding: 0rem 0.5rem;
            background-color: var(--color-app2);

            &:hover {
              scale: 0.95;
            }
          }

          .addBtn {
            border: none;
            text-transform: unset;
            color: white;
            padding: 0.4rem 0.7rem;

            &:hover {
              scale: 0.95;
            }
          }
        }
      }

      &-body {
        overflow-y: scroll;
        flex: 1;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 60%;
    flex: 0;

    nb-accordion {
      display: flex;
      flex-direction: column;
      height: 100%;

      &:has(:last-child.collapsed) {
        justify-content: space-between;
      }

      &:not(:has(.expanded)) {
        justify-content: flex-end !important;

        nb-accordion-item-header {
          padding: 0 var(--accordion-padding) !important;
        }
      }

      &-item {
        overflow: hidden;

        &-header {
          height: 64px;
          border-top: 1px solid var(--color-app4);
        }

        &.collapsed {
          flex-grow: 0;

          nb-accordion-item-body {
            transition: all 0.2s ease-out;
            flex: 0;
            opacity: 0;
            backface-visibility: hidden;
          }
        }

        &.expanded {
          flex-grow: 1;

          nb-accordion-item-header {
            padding: 0 var(--accordion-padding) !important;
          }

          nb-accordion-item-body {
            transition: all 0.2s ease-in;

            overflow-y: scroll;
            flex: 1;
            opacity: 1;
            backface-visibility: hidden;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
}
