<div class="auth">
  <div class="auth-banner">
    <div class="auth-banner-inside">
      <div class="auth-banner-content">
        <h1 class="auth-banner-content-title">Take Note For Your Project</h1>
        <p class="auth-banner-content-subtitle">
          Personal, productive and self-management
        </p>
        <div class="auth-banner-content-image">
          <img src="assets/images/banner.png" alt="banner" />
        </div>
      </div>
    </div>
  </div>
  <div class="auth-form">
    <router-outlet></router-outlet>
  </div>
</div>
