.auth {
  &-banner {
    background-color: var(--color-app2);
    padding: 0 70px !important;

    &-inside {
      display: flex;
      height: 100%;
      align-items: center;
    }

    &-content {
      width: 100%;

      &-title {
        font-size: 40px;
        font-weight: 800;
        color: var(--color-app4);
      }

      &-subtitle {
        font-size: 24px;
        color: var(--color-dark);
        line-height: 1.2;
      }

      &-image {
        width: 100%;

        img {
          width: 500px;
          height: 500px;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  &-form {
    padding: 70px !important;
  }
}
