<nb-layout windowMode class="auth">
  <nb-layout-column class="auth-banner">
    <div class="auth-banner-inside">
      <div class="auth-banner-content">
        <h1 class="auth-banner-content-title">Take Note For Your Project</h1>
        <p class="auth-banner-content-subtitle">
          Personal, productive and self-management
        </p>
        <div class="auth-banner-content-image">
          <img src="assets/images/banner.png" alt="banner" />
        </div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-column class="auth-form">
    <ng-content></ng-content>
  </nb-layout-column>
</nb-layout>
