.auth {
  display: flex;

  &-banner {
    background-color: var(--color-app2);
    height: 100vh;
    padding: 0 70px;
    width: 60%;

    &-inside {
      display: flex;
      height: 100%;
      align-items: center;
    }

    &-content {
      &-title {
        font-size: 40px;
        font-weight: 800;
        color: var(--color-app4);
      }

      &-subtitle {
        font-size: 24px;
        color: var(--color-dark);
      }

      &-image {
        img {
          width: 500px;
          height: 500px;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  &-form {
    height: 100vh;
    padding: 70px;
  }
}
