<nb-layout windowMode>
  <nb-sidebar>
    <app-menu-sidebar></app-menu-sidebar>
  </nb-sidebar>

  <nb-layout-column>
    <div class="calendar-body">
      <div class="calendar-body-header">
        <div class="calendar-body-header-title">
          <h2>Week {{ current.week }} | {{ current.monthAndYear }}</h2>
          <h4>Today is {{ current.dayOfWeek }}!!</h4>
          <div class="calendar-body-header-title-line"></div>
        </div>
        <div class="calendar-body-header-actions">
          <button
            nbButton
            outline
            shape="semi-round"
            size="giant"
            class="calendar-body-header-actions-btn"
            (click)="prevWeek()"
          >
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>
          <button
            nbButton
            outline
            shape="semi-round"
            size="giant"
            class="calendar-body-header-actions-btn"
            (click)="nextWeek()"
          >
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>
        </div>
      </div>

      <div class="calendar-body-main">
        <app-day-block *ngFor="let day of week" [day]="day"></app-day-block>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
