<nb-layout windowMode>
  <nb-sidebar>
    <app-menu-sidebar></app-menu-sidebar>
  </nb-sidebar>

  <nb-layout-column>
    <div class="calendar-body">
      <div class="calendar-body-header">
        <div class="calendar-body-header-title">
          <h2>Week 3 | October, 2022</h2>
          <h4>Today is Monday!!</h4>
          <div class="calendar-body-header-title-line"></div>
        </div>
        <div class="calendar-body-header-actions">
          <button nbButton outline class="calendar-body-header-actions-btn">
            <nb-icon
              nbPrefix
              icon="arrow-left-outline"
              pack="eva"
              class="icon"
            ></nb-icon>
          </button>
          <button nbButton outline class="calendar-body-header-actions-btn">
            <nb-icon
              nbPrefix
              icon="arrow-right-outline"
              pack="eva"
              class="icon"
            ></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
