<nb-layout windowMode>
  <nb-sidebar>
    <app-menu-sidebar></app-menu-sidebar>
  </nb-sidebar>

  <nb-layout-column>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Baby Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Layout Content</p>
    <p>Baby Content</p>
  </nb-layout-column>
</nb-layout>
