.day {
  overflow: hidden;

  &-header {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    margin-bottom: 0.2rem;

    &.current {
      color: var(--color-danger-800);
    }

    &-week {
      font-size: 24px;
      font-weight: 700;
    }

    &-date {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-column {
    height: 25rem;
    background-color: var(--color-app2);
    border: 10px solid var(--color-app4);
    position: relative;
    overflow-y: auto;
    border-radius: 0.5rem;

    backface-visibility: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &.cdk-drop-list-dragging {
      .day-column-add {
        opacity: 0.6;
      }
    }

    &-items {
      width: 100%;
      height: 50px;
      border-bottom: 2px solid var(--color-app4);
      background-color: var(--color-app3);
    }

    &-item {
      padding: 0.7rem var(--accordion-padding);
    }

    &-add {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--color-app3);
      opacity: 0;
    }
  }
}
