<div class="day">
  <div class="day-header" [ngClass]="day.isCurrentDate ? 'current' : ''">
    <div class="day-header-week">{{ day.dayOfWeek }}</div>

    <div class="day-header-date">
      {{ day.date }}
    </div>
  </div>
  <div
    class="day-column"
    [id]="dayId"
    cdkDropList
    [cdkDropListData]="day.works"
    cdkDropListConnectedTo="pending"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="day-column-add" [ngClass]="'hidden'">
      <nb-icon nbPrefix icon="plus-outline" pack="eva" class="center"></nb-icon>
    </div>
    <div class="day-column-items" *ngFor="let work of day.works" cdkDrag>
      <div class="day-column-item">
        <nb-checkbox
          status="primary"
          [ngClass]="work.isDone ? 'done' : ''"
          [checked]="work.isDone"
          >{{ work.title }}</nb-checkbox
        >
      </div>
    </div>
  </div>
</div>
