.pending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem var(--accordion-padding);

  &:hover {
    background-color: var(--color-app4);
    color: var(--color-app2);
    font-weight: 500;

    .trash-icon {
      opacity: 1;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 90%;

    file-icon {
      height: 18px;
      width: 18px;
    }

    &-title {
      font-size: 12px;
      color: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      max-width: 80%;
    }
  }

  &-right {
    .trash-icon {
      cursor: pointer;
      height: 18px;
      width: 18px;
      opacity: 0;
    }
  }
}
