@mixin activeItem($isActive) {
  @if $isActive {
    background-color: var(--color-app4);
    cursor: pointer;

    .icon {
      color: var(--color-app2);
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  &-item {
    width: 70px;
    height: 70px;
    position: relative;

    .icon {
      width: 35px;
      height: 35px;
      color: var(--color-app4);
    }

    &.active {
      @include activeItem(true);
    }

    &:hover {
      @include activeItem(true);
    }
  }
}
