<div class="sidebar">
  <div class="sidebar-item">
    <div class="center">
      <nb-icon
        nbPrefix
        icon="calendar-outline"
        pack="eva"
        class="icon"
      ></nb-icon>
    </div>
  </div>
  <div class="sidebar-item">
    <div class="center">
      <nb-icon nbPrefix icon="map-outline" pack="eva" class="icon"></nb-icon>
    </div>
  </div>
  <div class="sidebar-item">
    <div class="center">
      <nb-icon
        nbPrefix
        icon="book-open-outline"
        pack="eva"
        class="icon"
      ></nb-icon>
    </div>
  </div>
</div>
