<div class="sidebar">
  <div class="sidebar-start">
    <a
      routerLink="/calendar"
      routerLinkActive="active"
      #rla1="routerLinkActive"
      class="sidebar-start-item"
    >
      <div class="center">
        <nb-icon
          nbPrefix
          icon="calendar"
          pack="eva"
          class="icon"
          *ngIf="rla1.isActive"
        ></nb-icon>
        <nb-icon
          nbPrefix
          icon="calendar-outline"
          pack="eva"
          class="icon"
          *ngIf="!rla1.isActive"
        ></nb-icon>
      </div>
    </a>
    <a
      routerLink="/board"
      routerLinkActive="active"
      #rla2="routerLinkActive"
      class="sidebar-start-item"
    >
      <div class="center">
        <nb-icon
          nbPrefix
          icon="map"
          pack="eva"
          class="icon"
          *ngIf="rla2.isActive"
        ></nb-icon>
        <nb-icon
          nbPrefix
          icon="map-outline"
          pack="eva"
          class="icon"
          *ngIf="!rla2.isActive"
        ></nb-icon>
      </div>
    </a>
    <a
      routerLink="/note"
      routerLinkActive="active"
      #rla3="routerLinkActive"
      class="sidebar-start-item"
    >
      <div class="center">
        <nb-icon
          nbPrefix
          icon="book-open"
          pack="eva"
          class="icon"
          *ngIf="rla3.isActive"
        ></nb-icon>
        <nb-icon
          nbPrefix
          icon="book-open-outline"
          pack="eva"
          class="icon"
          *ngIf="!rla3.isActive"
        ></nb-icon>
      </div>
    </a>
  </div>
  <div class="sidebar-end">
    <nb-user
      size="medium"
      picture="https://images.unsplash.com/photo-1640951613773-54706e06851d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
      showName="false"
      showTitle="false"
      badgeStatus="primary"
      onlyPicture
    ></nb-user>
    <nb-icon
      nbPrefix
      icon="settings-2-outline"
      pack="eva"
      class="icon"
    ></nb-icon>
  </div>
</div>
