@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes/corporate";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    // app color
    color-reset: #acacac,
    color-dark: #383838,

    color-app1: #ebe5e3,
    color-app2: #d2dfcc,
    color-app3: #b5a497,
    color-app4: #8d8579,

    // custom color
    color-primary-100: #fbf8f2,
    color-primary-200: #f7f1e7,
    color-primary-300: #e8ded1,
    color-primary-400: #d2c5b8,
    color-primary-500: #b5a497,
    color-primary-600: #9b7f6e,
    color-primary-700: #825d4c,
    color-primary-800: #683f30,
    color-primary-900: #56291c,
    color-success-100: #e9fcdb,
    color-success-200: #cffab8,
    color-success-300: #abf292,
    color-success-400: #88e673,
    color-success-500: #56d648,
    color-success-600: #36b834,
    color-success-700: #249a2b,
    color-success-800: #167c25,
    color-success-900: #0d6621,
    color-info-100: #d2f9fd,
    color-info-200: #a5eefc,
    color-info-300: #77dbf8,
    color-info-400: #55c5f2,
    color-info-500: #20a3ea,
    color-info-600: #177fc9,
    color-info-700: #105fa8,
    color-info-800: #0a4387,
    color-info-900: #063070,
    color-warning-100: #fefacd,
    color-warning-200: #fef49c,
    color-warning-300: #feec6b,
    color-warning-400: #fde446,
    color-warning-500: #fcd80a,
    color-warning-600: #d8b607,
    color-warning-700: #b59505,
    color-warning-800: #927603,
    color-warning-900: #785f01,
    color-danger-100: #ffe9d6,
    color-danger-200: #ffcdad,
    color-danger-300: #ffab83,
    color-danger-400: #ff8a65,
    color-danger-500: #ff5432,
    color-danger-600: #db3424,
    color-danger-700: #b71b19,
    color-danger-800: #930f18,
    color-danger-900: #7a0919,

    // custom basic background color
    background-basic-color-1: color-app3,
    background-basic-color-3: white,

    // custom basic text color
    text-disabled-color: color-basic-600,

    // custom font
    font-family-primary: "'Inter', sans-serif",
    font-family-secondary: "'Inter', sans-serif",

    // layout header
    header-height: 50px,
    header-padding: 0,

    // layout sidebar
    sidebar-width-compact: 70px,
    sidebar-padding: 0,

    // layout column
    layout-padding: 0,
    layout-small-padding: 0,
    layout-medium-padding: 0,

    // accordion
    accordion-header-border-width: 0,
    accordion-header-text-color: white,
    accordion-border-radius: 0,
    accordion-shadow: none,

    // checkbox
    checkbox-border-radius: 5px,
    checkbox-outline-color: color-app2,
    checkbox-height: 18px,
    checkbox-width: 18px,
    checkbox-text-font-size: 12px,
    checkbox-text-font-weight: 400,
    color-primary-default: color-app4,
    color-primary-default-border: color-app2,
    color-primary-transparent-default: color-app2,
    color-primary-transparent-default-border: color-app2,
    color-primary-transparent-focus: color-app2,
    color-primary-transparent-focus-border: color-app4,
    color-primary-transparent-hover: color-app4,
    color-primary-transparent-hover-border: color-app2,
    color-primary-hover: color-app4,
    color-primary-hover-border: color-app2,
    color-primary-transparent-active: color-app2,
    color-primary-transparent-active-border: color-app2,
    color-primary-active: color-app2,
    color-primary-active-border: color-app2
  ),
  note,
  corporate
);
